@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #ffffff;
  
  height: 100vh;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

/* ////........Navbar.......//// */

.navbar {
  position: fixed;
  width: 100%;
  z-index: 500;
  
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.menu-items {
  display: flex;
}

.menu-items li {
  list-style: none;
  padding: 1rem;
}

.menu-items a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  padding: 0.3rem;
  font-weight: 500;
}

.menu-items a:hover {
  border-bottom: 2px solid black;
}

.navbar .logo {
  order: 1;
  color: #f0f0e6;
  font-size: 2rem;
}

/* ////........Home Content........//// */

.home-content .name {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(102, 2, 196);
  width: 100%;
  text-align: center;

}

.home-content .name h1 {
  font-size: 3.1rem;
  text-align: center;
}

.home-content .name p {
  color: #000000;
  font-size: 1.5rem;
  padding-top: 35px;
}

.angle-down-icon {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  border: 3px solid rgb(102, 2, 196);
  border-radius: 50%;
}

.angle-down-icon a {
  text-decoration: none;
  color:rgb(102, 2, 196);
  padding: 1rem;
}


/* ////........About Me........//// */

.about-me {
  background-color: rgb(102, 2, 196);
  
  padding:6rem 0;
}

.about-me .about-heading {
  color: black;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
 
}

.about-content img {
  height: 300px;
  width: 250px;
  object-fit: cover;
  border-end-end-radius: 20px;
  border-bottom-left-radius: 20px;
}

.about-content p {
  font-size: 1.2rem;
  color: #f0f0e6;
  padding: 2 2.3rem;
  padding-top: 10px;
  text-align: center;
}

.skills .skills-heading {
  font-size: 2rem;
  font-weight: 600;
  color: black;
  text-align: center;
}

.about-me .about-content {
  display: flex;
  flex-wrap: wrap;
}

.about-content .left-content {
  flex-basis: 45%;
  text-align: center;
}

.about-content .right-content {
  flex-basis: 45%;
}

/* ///.....Skill Bar....../// */

.skills-bar {
  padding: 25px 30px;
}

.skills-bar .bar {
  margin: 25px 0;
}

.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  color: #f0f0e6;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 550px;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  background: rgb(29, 29, 29);
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .html {
  width: 80%;
}
.progress-line .css {
  width: 60%;
}
.progress-line .bootstrap {
  width: 50%;
}
.progress-line .javascript {
  width: 20%;
}
.progress-line .python {
  width: 60%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -12px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #f0f0f0;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color:rgb(102, 2, 196) ;
  font-size: 12px;
  font-weight: 700;
  background: #f0f0f0;
  padding: 1px 8px;
  border-radius: 3px;
}

.progress-line .html::after {
  content: "80%";
}
.progress-line .css::after {
  content: "70%";
}
.progress-line .bootstrap::after {
  content: "50%";
}
.progress-line .javascript::after {
  content: "20%";
}
.progress-line .python::after {
  content: "50%";
}

.navbar.solid {
  background-color: rgb(102, 2, 196);
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px rgb(7 55 74 / 20%);
  z-index: 500;
}

.navbar.solid .navbar-brand {
  display: inline-block;
  color: #f0f0e6;
  transition: color 1s ease 0s;
}

.navbar-brand {
  display: none;
  color: #f0f0e6;
  font-weight: 400;
}

.work-arrow {
  margin: 1rem 0;
  display: flex;
  display: inline-flex;
}

.work-arrow a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
.work-arrow :hover {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  .work-arrow a i:hover {
    font-size: 2rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  

.work-arrow-2 {
  margin: 2rem 0;
}

.work-arrow-2 a {
  font-size: 1rem;
  text-decoration: none;
  color: #25b79f;
  display: none;
}

/* ////.....Portfolio......///// */

.portfolio {
  background: #ffffff;
  padding: 2rem 0;
}


.proj-heading h1{
  text-align: center;
  color: rgb(102, 2, 196);
  font-size: 2.7rem;
  font-weight: 700;
  margin: 3rem 0;
  
}

.proj-1{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.proj-1 img{
  height: 330px;
  width: 450px;
  object-fit: cover;
  border-end-end-radius: 25%;
  border-start-start-radius: 25%;
  box-shadow: 0 25px 10px -10px rgba(0, 0, 0, 0.31);
  margin-right: 1.7rem;
  margin-left: -10px;
}

.proj-1 .proj1-details {
  width: 27rem;
  
}

.proj-1 .proj1-details i{
  font-size: 1.5rem;
  color: black;
}

.proj-1 .proj1-details h2{
  font-size: 1.7rem;
  color: rgb(102, 2, 196);
  padding: 15px 0;
}

.proj-1 .proj1-details p{
  font-size: 1rem;
  color: black;
  font-weight: 600;
  padding: 0 20px;
}

.proj-1 .proj1-details button{
  background: #f0f0e6;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 20px;
  width: 150px;
  border: none;
  border-bottom: 2px solid rgb(102, 2, 196);
}

.proj-1 .proj1-details button a{
  text-decoration: none; 
  color:rgb(102, 2, 196);
  font-size: 1.1rem;
  transition: 0.2s ease-in-out;
  text-align: center;
  transition: 0.3s ease-in-out;
  
}

.proj-1 .proj1-details button .fas{
  font-size: 0.7rem;
  padding: 0.3rem;
  transition: 0.2s ease-in-out;
}

.proj-1 .proj1-details button:hover {
  background: rgb(102, 2, 196);
}
  
.proj-1 .proj1-details button:hover a,
.proj-1 .proj1-details button:hover .fas {
  color: #f0f0e6;
}

/* ////.....proj2.....//// */



.proj-2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.proj-2 img{
  height: 330px;
  width: 450px;
  object-fit: cover;
  border-end-end-radius: 25%;
  border-start-start-radius: 25%;
  box-shadow: 0 25px 10px -10px rgba(0, 0, 0, 0.31);
  margin-right: 1.7rem;
  margin-left: 50px;
}


.proj-2 .proj2-details{
  width: 32rem;
}

.proj-2 .proj2-details i{
  font-size: 1.5rem;
  color:black;
}

.proj-2 .proj2-details h2{
  font-size: 1.5rem;
  color: rgb(102, 2, 196);
}

.proj-2 .proj2-details p{
  font-size: 1rem;
  color: black;
  font-weight: 600;
  padding: 0 20px;
}

.proj-2 .proj2-details button{
  background: #f0f0e6;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 20px;
  width: 150px;
  border: none;
  border-bottom: 2px solid rgb(102, 2, 196);
}

.proj-2 .proj2-details button a{
  text-decoration: none; 
  color: rgb(102, 2, 196);
  font-size: 1.1rem;
  transition: 0.2s ease-in-out;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.proj-2 .proj2-details button .fas{
  font-size: 0.7rem;
  padding: 0.3rem;
  transition: 0.2s ease-in-out;
}

.proj-2 .proj2-details button:hover {
  background: rgb(102, 2, 196);
  border-bottom: 2px solid rgb(0, 0, 0);
}
  
.proj-2 .proj2-details button:hover a,
.proj-2 .proj2-details button:hover .fas {
  color: #f0f0e6;
}


.more-work {
  text-align: center;
  margin: 3rem 0 1rem 0;
}

.more-work p {
  font-size: 1.6rem;
  color:black;
  font-weight: 500;
}

.more-work a {
  text-decoration: none;
  color: rgb(102, 2, 196);
  font-size: 1.3rem;
}

.more-work a:hover {
  border-bottom: 2px solid black;
}

/* ////......Contact......///// */

.contact {
  background-color: rgb(102, 2, 196);
  position: relative;
  height: 92vh;
}

.contact-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact-content h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: black;
  padding-bottom: 0.5rem;
}

.contact-content .mail {
  color: #f0f0e6;
  padding-bottom: 0.2rem;
  font-size: 1rem;
}

.contact-content .links {
  color: white;
  padding: 0.5rem;
  padding-bottom: 1.8rem;
  font-size: 1rem;
}

.contact-content a {
  text-decoration: none;
  color:black;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
}

.contact-content a:hover{
  color: #f0f0e6;
}

/* ////......Media query......//// */

@media (max-width: 500px) {
  html {
    font-size: 60%;
  }

  .about-content .left-content {
    flex-basis: 100%;
    text-align: center;
  }

  .about-content .right-content {
    flex-basis: 100%;
  }

  .skills {
    width: 100%;
  }

  .skills-bar .bar .progress-line {
    width: 100%;
  }

  .work-arrow {
    display: none;
  }

  .right-content h1 {
    margin-top: 3.2rem;
  }

  .proj-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .proj-1 img {
    height: 230px;
    width: 290px;
    margin-bottom: 0.5rem;
  }
  
  .proj-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .proj-2 img {
    height: 250px;
    width: 290px;
    margin-bottom: 0.5rem;
  }

  .work-arrow-2 a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #25b79f;
    display: block;
    text-align: center;
  }

  .contact-content {
    width: 100%;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .about-content .left-content {
    flex-basis: 100%;
    text-align: center;
  }

  .about-content .right-content {
    flex-basis: 100%;
  }

  .skills {
    width: 100%;
  }

  .skills-bar .bar .progress-line {
    width: 100%;
  }

  .work-arrow {
    display: none;
  }

  .right-content h1 {
    margin-top: 3.2rem;
  }

  .proj-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .proj-1 img {
    height: 240px;
    width: 290px;
    margin-bottom: 0.5rem;
  }
  
  .proj-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .proj-2 img {
    height: 240px;
    width: 290px;
    margin-bottom: 0.5rem;
  }

  .work-arrow-2 a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #25b79f;
    display: block;
    text-align: center;
  }

  .contact-content {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .form {
    max-width: 100%;
  }
  
  .form input[type="text"],
  .form input[type="email"],
  .form textarea {
    padding: 6px;
  }
  
  .form #submit {
    padding: 8px 16px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  html {
    font-size: 70%;
  }

  .about-content .left-content {
    flex-basis: 100%;
    text-align: center;
  }

  .about-content .right-content {
    flex-basis: 100%;
  }

  .skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .work-arrow {
    display: none;
  }

  .left-content h1 {
    margin-top: 3.2rem;
    text-align: center;
  }

  .right-content h1 {
    margin-top: 3.2rem;
    text-align: center;
  }

  .work-arrow-2 a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #25b79f;
    display: block;
    text-align: center;
  }

  .contact-content {
    width: 100%;
  }
}
#role{
    color:rgb(102, 2, 196) ;
    font-weight: bold;
}

.form1{
  font-size: 1.2rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 40%;
  font-weight: bold;
  height: 90%;
  margin-left: 30%;
  border: 1px solid black;
  padding: 2rem 0;
  background-color:rgba(102, 2, 196,0.3) ;
  margin-top: -10px;

  

}
.form1 input{
  width:50% ;
  height: 35px;
  margin-left: 25%;
  margin-top: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
}
.form1 label{
  padding-left: 70px;
  margin-top: 10px;
}
.form{
  background-color: #ffffff;
  
  height: 100vh;
}
.form2{
  font-size: 1.5rem;
  margin-left: 27%;
  margin-bottom: 20px;
}

#submit{
  margin-top: -10px;
  width: 55%;
  height: 55px;
  border-radius: 30px;
}
#submit:hover{
  color: white;
  background-color: rgb(102, 2, 196);
  box-shadow: 0px 0px 5px 5px black;
}
.downloadresume button{
  width: 35%;
  height: 50px;
  font-size: 20px;
  margin-top: 50px;
  background-color: rgba(102, 2, 196,0.7);
  color: white;
  font-weight:bold;
  border-radius: 0%;
}
.downloadresume button:hover{
   background-color: rgb(102, 2, 196);
   color: #000000;
}

#animate__animated animate__bounce{
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

textarea{
  margin-left:120px;
  border: 2px solid black;
}
